/* shared styles */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
* {
    padding: 0px;
    margin: 0px;
}
.btn-primary {
    padding: 1.3125rem 2.5rem;
    border-radius: 3rem;
    border: 0px;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 1rem;
}

/* header styles */
header {
    padding: 0px 4rem;
}

/* navigation bar styles */

nav {
    display: flex;
    justify-content: space-between;
    height: 8.125rem;
    align-items: center;
}
.nav-title img {
    height: 2.5rem;
}
nav h3 {
    color: #0b0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 2.8125rem;
    font-weight: 700;
}
nav span {
    color: #ff42a5;
}
nav ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
nav li {
    list-style: none;
    color: #3c354f;
}
nav a {
    text-decoration: none;
    color: #3c354f;
}
.social-link img {
    height: 1.5rem;
}
.social-link a {
    margin: 0px;
}
.nav-title {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
}
.nav-link {
    color: #3c354f;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.125rem;
    font-weight: 500;
}
.social-link {
    display: flex;
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.1);
    padding: 1.125rem;
    gap: 1.5rem;
}

/* banner styles */
.banner-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.banner-right img {
    width: 44rem;
}
.banner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/Group/14.png");
}
.banner-title {
    color: #0b0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-highlight {
    text-align: center;
    font-family: Work Sans;
    font-size: 6rem;
    font-weight: 800;
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-point {
    margin-top: 1rem;
    list-style: none;
    color: #534c64;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 500;
}
.banner-info {
    display: flex;
    gap: 0.75rem;
}
.banner-icon {
    text-align: center;
}
.btn-container {
    margin-top: 2.5125rem;
}
.sign-in {
    margin-right: 1.5rem;
    background-color: #ff42a5;
    color: #fff;
}
.go-rouge {
    color: #fff;
    background-color: #4ec5f7;
}

/* responsive styles */
/* mobile styles */
/* navigation bar styles */
@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
        margin: 3rem 0rem;
        height: auto;
        gap: 2rem;
    }
    nav ul {
        flex-direction: column;
    }

    /* banner styles */
    .banner-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .banner-right img {
        max-width: 90vw;
    }
    .banner-right {
        text-align: center;
        margin-bottom: 9.5rem;
    }
}

/* tablet styles */
/* navigation bar styles */
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav {
        flex-direction: column;
        margin: 3rem 0rem;
        height: auto;
        gap: 2rem;
    }
    /* banner styles */

    .banner-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .banner-right img {
        max-width: 90vw;
    }
    .banner-right {
        text-align: center;
        margin-bottom: 9.5rem;
    }
}
